<div id="guestfooter" class="footer">
  <div id="legalfooter">
    <div id="legalfootertitle" class="footertitle">Legal</div>
    <div id="termsofuse" class="clickable footeritem">Terms of Use</div>
    <div id="privacypolicy" class="clickable footeritem">Privacy Policy</div>
    <div id="copyright" class="footeritem">© <span id="year"> {{year}} </span>, தமிழ்flick</div>
  </div>

  <div id="contactfooter">
    <div id="contactfootertitle" class="footertitle">Contact</div>
    <div id="email" class="clickable footeritem"><img id="emailicon" src="/assets/images/emailicon.png" />tamilflickyt@gmail.com</div>
    <div id="twitter" class="clickable footeritem"><img id="twittericon" src="/assets/images/Twitter_Logo_Blue.png" />@tamilflicks</div>
  </div>
</div>

