<div id="header">
	<img id="logo" class="nav-link" src="/assets/images/logo.png" [routerLink]="['/']"/>
	<div id="center_header" class = "header_section">
		<a class="nav-link tamil" [routerLink]="['/artists']">கலைஞர்கள்</a>
		<a class="nav-link tamil" [routerLink]="['/music']">இசை</a>
		<a class="nav-link tamil" [routerLink]="['/movies']">படங்கள்</a>
		<a class="nav-link tamil" [routerLink]="['/zine']">இதழ்</a>
		<!--<a class="nav-link" [routerLink]="['/shop']">Shop</a> -->
	</div>
	<div id="right_header" class = "header_section">
		<a class="nav-link tamil" (click) = "showLogin()" >உள்நுழைவு</a>
		<a class="nav-link tamil" (click) = "showSignup()" >பதிவு</a>
	</div>
</div>
