<div id="zinecontent">

<div class="articletitle"><img id="titleicon" src="/assets/images/iconblue.png" /> Tribute to J. P. Chandrababu</div>
<img id="chandrababu_portrait" src="/assets/images/zine/chandrababu_portrait.jpeg" />
<p>Joseph Panimayadas Chandrababu Rodriguez (1927-1974) was a Tamil artist who sang and danced to a number of Tamil songs that have become classics. Chandrababu had an intellectual and philosophical spirit that shines through in these songs, even though they were written by other people — often Kannadasan. </p>

<p> Chandrababu was a multi-faceted artist. He could sing, dance, act and do slap-stick comedy. He lived an eventful life which included a suicide attempt, financial ruin, marriage and divorce. He starred in movies with M.G. Ramachandran and Sivaji Ganesan. </p>
<p> Let’s start with one of my favorite Chandrababu songs — ‘பிறக்கும் போதும் அழுகின்றாய்’ from the movie ‘கவலையில்லா மனிதன்’ (1960). It’s a relatively simple but meaningful song. The video starts with shots of a turbulent ocean and of dark clouds. Chandrababu stands in what looks like a graveyard with a garden and sings the opening lines like a philosopher delivering a sermon. There are shots of a mother with a newborn baby. He then strolls around the garden for the rest of the video, pausing and posing, moving slowly and expressing sorrow and bewilderment. </p>

<div class="videowrapper">
<iframe width="560" height="349" 
src="https://www.youtube.com/embed/ID0a3NIrmhE" allow="fullscreen">
</iframe>
<div class="videotitle">பிறக்கும் போதும் அழுகின்றாய் -- கவலையில்லா மனிதன் (1960)</div>
</div>

<p> Here are the lyrics, written by Kannadasan : </p>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
பிறக்கும் போதும் அழுகின்றாய் இறக்கும் போதும் அழுகின்றாய்
பிறக்கும் போதும் அழுகின்றாய் இறக்கும் போதும் அழுகின்றாய்
ஒரு நாளேனும் கவலையில்லாமல் சிரிக்க மறந்தாய் மானிடனே
ஒரு நாளேனும் கவலையில்லாமல் சிரிக்க மறந்தாய் மானிடனே
பிறக்கும் போதும் அழுகின்றாய் இறக்கும் போதும் அழுகின்றாய்
</pre>
<pre class="englishlyrics">
At birth, you cry. At death you also cry.
At birth, you cry. At death you also cry.
Even a single day, without worry, you forgot to smile, you human.
Even a single day, without worry, you forgot to smile, you human.
At birth, you cry. At death you also cry.
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
இரவின் கண்ணீர் பனித்துளி என்பார்
முகிலின் கண்ணீர் மழையெனச் சொல்வார்
இயற்கை அழுதால் உலகம் செழிக்கும்
மனிதன் அழுதால் இயற்கை சிரிக்கும் இயற்கை சிரிக்கும்
பிறக்கும் போதும் அழுகின்றாய் இறக்கும் போதும் அழுகின்றாய்
</pre>
<pre class="englishlyrics">
They say the tears of the night are dew drops
They say the tears of the clouds are rain drops.
If Nature cries, the world will flourish.
If Man cries, Nature laughs.
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
அன்னையின் கையில் ஆடுவதின்பம்
கன்னியின் கையில் சாய்வதும் இன்பம்
அன்னையின் கையில் ஆடுவதின்பம்
கன்னியின் கையில் சாய்வதும் இன்பம்
தன்னை அறிந்தால் உண்மையில் இன்பம்
தன்னலம் மறந்தால் பெரும்பேரின்பம், பெரும்பேரின்பம்

பிறக்கும் போதும் அழுகின்றாய் இறக்கும் போதும் அழுகின்றாய்
ஒரு நாளேனும் கவலையில்லாமல் சிரிக்க மறந்தாய் மானிடனே
</pre>
<pre class="englishlyrics">
To sway in your mother’s arms is happiness.
To recline in a young lady’s arms is also happiness.
To sway in your mother’s arms is happiness.
To recline in a young lady’s arms is also happiness.
If you know yourself, there is joy in Truth.
If you forget your self-interest, there is great joy. Great joy.

At birth, you cry. At death you also cry.
Even a single day, without worry, you forgot to smile, you human.
</pre>
</div>

<p>
Chandrababu is an expert at expressing emotions with his body, in the way he walks, the way he poses, the movement of his arms and the expressions on his face. This is also true of his dancing, as exemplified by this next song and video — ‘குங்கும பூவே, கொஞ்சும் புறாவே’ from the movie ‘மரகதம்’ (1959). This is a light-hearted and playful song with Chandrababu and Jamuna Rani singing while the video has Chandrababu and Sandhya prancing and dancing around a garden. The lyrics were written by Ku. Ma. Balasubramaniam.</p>

<div class="videowrapper">
<iframe width="560" height="349" 
src="https://www.youtube.com/embed/IxT64Qf9lD0" allow="fullscreen">
</iframe>
<div class="videotitle">குங்கும பூவே, கொஞ்சும் புறாவே -- மரகதம் (1959)</div>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
ஆன்: குங்குமப் பூவே கொஞ்சும் புறாவே
குங்குமப் பூவே கொஞ்சும் புறாவே
தங்கமே உன்னைக் கண்டதும் இன்பம்
பொங்குது தன்னாலே
</pre>
<pre class="englishlyrics">
Male: Oh saffron flower, Oh affectionate dove
Oh saffron flower, Oh affectionate dove
Precious, when I see you, 
joy swells up on its own.
</pre>
</div>
<div class="lyricswithtranslation">
<pre class="tamillyrics">
பென்: போக்கிரி ராஜா போதுமே தாஜா
போக்கிரி ராஜா போதுமே தாஜா
பொம்பளை கிட்டே ஜம்பமா வந்து
வம்புகள் பண்ணாதே
</pre>
<pre class="englishlyrics">
Female: Dear rascal king, enough flirting
Dear rascal king, enough flirting
Don’t come pompously to a woman
And make mischief
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
தந்தன தானா சிந்துகள் பாடி
தந்திரம் பண்ணாதே
நீ மந்திரத்தாலே மாங்காயைத் தானே
பறிக்க எண்ணாதே
மந்திரத்தாலே மாங்காயைத் தானே
பறிக்க எண்ணாதே
</pre>
<pre class="englishlyrics">
Singing ‘Thanthana Thaana’,
Don’t play tricks on me
With your magic, don’t think of 
Plucking this mango.
With your magic, don’t think of
Plucking this mango.
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
போக்கிரி போக்கிரி போக்கிரி போக்கிரி ராஜா
போதுமே போதுமே போதுமே போதுமே தாஜா
குங்கும குங்கும குங்கும குங்கும குங்குமப் பூவே
கொஞ்சும் கொஞ்சும் கொஞ்சும் கொஞ்சும் கொஞ்சும் புறாவே
</pre>
<pre class="englishlyrics">
Rascal, rascal, rascal, rascal king
Enough, enough, enough, enough flirting
Saffron, saffron,…, saffron flower
Affectionate, affectionate,…, affectionate dove.
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
ஜம்பர் பட்டும் தாவணி கட்டும் சலசலக்கையிலே
ஜம்பர் பட்டும் தாவணி கட்டும் சலசலக்கையிலே
என் மனம் கெட்டு ஏக்கமும்பட்டு என்னமோ பண்ணுதடி
என் மனம் கெட்டு ஏக்கமும்பட்டு என்னமோ பண்ணுதடி
</pre>
<pre class="englishlyrics">
As the Jambar silk dhavani flutters
As the Jambar silk dhavani flutters
My heart is ruined and aches and does something to me
My heart is ruined and aches and does something to me
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
சித்திரப் பட்டு சேலையைக் கண்டு உனக்கு பிரியமா
சித்திரப் பட்டு சேலையைக் கண்டு உனக்கு பிரியமா
நீ பித்துப்பிடிச்சு பேசுறதெல்லாம் எனக்குப் புரியுமா
நீ பித்துப்பிடிச்சு பேசுறதெல்லாம் எனக்குப் புரியுமா

போக்கிரி போக்கிரி போக்கிரி போக்கிரி போக்கிரி ராஜா
போதுமே போதுமே போதுமே போதுமே போதுமே தாஜா
</pre>
<pre class="englishlyrics">
Seeing the silk sari with pictures, are you fond of it?
Seeing the silk sari with pictures, are you fond of it?
How will I understand your crazy talk?
How will I understand your crazy talk?

Rascal, rascal,…, rascal king
Enough, enough,…, enough flirting
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
செண்பக மொட்டும் சந்தனப் பொட்டும் சம்மதப்பட்டுக்கனும்
செண்பக மொட்டும் சந்தனப் பொட்டும் சம்மதப்பட்டுக்கனும்
தாளமும் தட்டி மேளமும் கொட்டி தாலியைக் கட்டிக்கனும்
தாளமும் தட்டி மேளமும் கொட்டி தாலியைக் கட்டிக்கனும்

குங்குமப் பூவே கொஞ்சும் புறாவே
தங்கமே உன்னைக் கண்டதும் இன்பம்
பொங்குது தன்னாலே
</pre>
<pre class="englishlyrics">
The champak flower bud and the sandalwood bindi should get along
The champak flower bud and the sandalwood bindi should get along	
Playing a beat, and playing the music, we should tie the knot
Playing a beat, and playing the music, we should tie the knot

Oh saffron flower, Oh affectionate dove
Precious, when I see you, 
joy swells up on its own
</pre>
</div>

<p>Chandrababu spent time in Sri Lanka as a youth and was exposed to Western music and dance. He learned how to yodel which you can witness in the song ‘உனக்காக, எல்லாம் உனக்காக’ from the movie புதயல் (1957).</p>

<div class="videowrapper">
<iframe width="560" height="349" 
src="https://www.youtube.com/embed/nkdCyOHXMm8" allow="fullscreen">
</iframe>
<div class="videotitle">உனக்காக, எல்லாம் உனக்காக -- புதயல் (1957)</div>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
உனக்காக எல்லாம் உனக்காக
உனக்காக எல்லாம் உனக்காக
இந்த உடலும் உயிரும் ஒட்டியிருப்பது உனக்காக
உனக்காக எல்லாம் உனக்காக
இந்த உடலும் உயிரும் ஒட்டியிருப்பது உனக்காக

எதுக்காக கண்ணே எதுக்காக? 
நீ எப்பவும் இப்படி எட்டியிருப்பது எதுக்காக?
எதுக்காக கண்ணே எதுக்காக? 
நீ எப்பவும் இப்படி எட்டியிருப்பது எதுக்காக?

கண்ணுக்குள்ளே வந்து
கலகம் செய்வது எதுக்காக? 
மெள்ளக் காதுக்குள்ளே உந்தன்
கருத்தைச் சொல்லிடு முடிவாக

உனக்காக எல்லாம் உனக்காக
இந்த உடலும் உயிரும் ஒட்டியிருப்பது உனக்காக
</pre>
<pre class="englishlyrics">
It's for you, everything is for you
It's for you, everything is for you
This body and soul are stuck together, for you
It's for you, everything is for you
This body and soul are stuck together, for you

Why? My dear, why?
Why do you always stay out of reach?
Why? My dear, why?
Why do you always stay out of reach?

Why do you enter my eye
and create conflict?
Softly, enter my ear
and tell me your answer.

It's for you, everything is for you
This body and soul are stuck together, for you
</pre>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
பள்ளியிலே இன்னுமொருதரம் படிக்கணுமா? 
இல்லே பயித்தியமாய் பாடி ஆடி நடிக்கணுமா?
பள்ளியிலே இன்னுமொருதரம் படிக்கணுமா? 
இல்லே பயித்தியமாய் பாடி ஆடி நடிக்கணுமா?

துள்ளிவரும் காவேரியில் குதிக்கணுமா?
துள்ளிவரும் காவேரியில் குதிக்கணுமா?
சொல்லு சோறுதண்ணி வேறு ஏதுவும் இல்லாம கெடக்கணுமா?

உனக்காக எல்லாம் உனக்காக
இந்த உடலும் உயிரும் ஒட்டியிருப்பது உனக்காக

இலங்கை நகரத்திலே இன்பவல்லி நீயிருந்தால்
இந்துமகா சமுத்திரத்தை இங்கிருந்தே தாண்டிடுவேன்
இலங்கை நகரத்திலே இன்பவல்லி நீயிருந்தால்
இந்துமகா சமுத்திரத்தை இங்கிருந்தே தாண்டிடுவேன்
மேகம் போலே வானவீதியிலே நின்னு மிதந்திடுவேன் 
இடி மின்னல் மழை புயலானாலும் துணிஞ்சு இறங்கிடுவேன்

உனக்காக, எல்லாம் உனக்காக
இந்த உடலும் உயிரும் ஒட்டி இருப்பது உனக்காக
உனக்காக, எல்லாம் உனக்காக
இந்த உடலும் உயிரும் ஒட்டி இருப்பது உனக்காக
</pre>
<pre class="englishlyrics">
Should I go back to school and study again?
Or should I sing and dance and act like a fool?
Should I go back to school and study again?
Or should I sing and dance and act like a fool?

Should I jump in to the springing Cauvery river?
Should I jump in to the springing Cauvery river?
Should I stay without food and water?

It's for you, everything is for you
This body and soul are stuck together, for you

If you are in the city in Sri Lanka,
I will leap over the great Indian ocean from here.
If you are in the city in Sri Lanka,
I will leap over the great Indian ocean from here.
Like a cloud I will float in the highway in the sky.
I will brave thunder, lightning, rain and storm and come

It's for you, everything is for you
This body and soul are stuck together, for you
It's for you, everything is for you
This body and soul are stuck together, for you
</pre>
</div>

<p>Many of Chandrababu’s songs are known for their philosophical content. One such famous song written by Kannadasan is ‘புத்தியுள்ள மனிதரெல்லாம் வெற்றி காண்பதில்லை’ from the movie அன்னை (1962).</p>

<div class="videowrapper">
<iframe width="560" height="349" 
src="https://www.youtube.com/embed/-M9mP8o1kHA" allow="fullscreen">
</iframe>
<div class="videotitle">புத்தியுள்ள மனிதரெல்லாம் வெற்றி காண்பதில்லை -- அன்னை (1962)</div>
</div>

<div class="lyricswithtranslation">
<pre class="tamillyrics">
புத்தியுள்ள மனிதரெல்லாம் வெற்றி காண்பதில்லை
வெற்றி பெற்ற மனிதரெல்லாம் புத்திசாலி இல்லை
புத்திசாலி இல்லை

(புத்தியுள்ள...)

பணம் இருக்கும் மனிதரிடம் மனம் இருப்பதில்லை
மனம் இருக்கும் மனிதரிடம் பணம் இருப்பதில்லை

(பணம்...)

பணம் படைத்த வீட்டினிலே வந்ததெல்லாம் சொந்தம்
பணம் இல்லாத மனிதருக்கு சொந்தமெல்லாம் துன்பம்

(புத்தியுள்ள...)
</pre>
<pre class="englishlyrics">
Not every wise man sees success.
Every successful man is not wise,
Is not wise.

(Not every wise man...)

The man who has money doesn't have a heart
The man who has a heart doesn't have money

(The man who has money...)

In the house that money built everything that enters is property.
For the man who has no money the only property is sorrow.

(Not every wise man...)
</pre>
</div>
<div class="lyricswithtranslation">
<pre class="tamillyrics">
பருவம் வந்த அனைவருமே காதல் கொள்வதில்லை
காதல் கொண்ட அனைவருமே மணம் முடிப்பதில்லை

(பருவம்...)

மணம் முடித்த அனைவருமே சேர்ந்து வாழ்வதில்லை
சேர்ந்த வாழும் அனைவருமே சேர்ந்து போவதில்லை

(புத்தியுள்ள...)

கனவு காணும் மனிதனுக்கு நினைப்பதெல்லாம் கனவு
அவன் காணுகின்ற கனவினிலே வருவதெல்லாம் உறவு

(கனவு...)

அவன் கனவில் அவள் வருவாள், அவனை பார்த்து சிரிப்பாள்
அவள் கனவில் யார் வருவார்? யாரை பார்த்து அணைப்பாள்?

(புத்தியுள்ள...)
</pre>
<pre class="englishlyrics">
Not everyone who comes of age falls in love.
Not everyone who falls in love gets married.

(Not everyone who comes of age...)

Not everyone who gets married lives together.
Not everyone who lives together leave together.

(Not every wise man...)

For the man who dreams all his thoughts are dreams
In his dream everyone who comes is kin.

(For the man who dreams...)

In his dream, she will appear and she will smile at him.
In her dream, who will come? And who will she embrace?

(Not every wise man...)
</pre>
</div>


</div>
